<div style="font-family:arial, sans-serif;font-size:13px;margin:0px auto; border:10px solid #A9C598; background:#ffffff; min-width: 600px; max-width: 800px; padding: 20px; "> 
    <table width="" border="0" cellspacing="0" cellpadding="0" style="font-family:arial, sans-serif; font-size:13px; width: 100%;">
         <tr>
            <td>
              <a href="#" style="text-align:center; display:block;"><img alt="zoocialshop" title="zoocialshop" border="0" src="https://zoocialshop.ch/images/logo1.jpg"></a>
            </td>
        </tr>               
        <tr style="text-align:left">
            <td>
              <p style="margin:15px 0px; font-size: 16px">Hallo <%= userName %></p>
            </td>
        </tr>    
        <tr>
            <td>
                <p style="margin:0px; line-height:normal; font-size:14px; padding-top: 16px">Das Passwort für das ZOOCIAL Shop Konto <a href="mailto:<%= userEmail %>" style="text-decoration: none; color: #A9C598;"><%= userEmail %></a> wurde gerade geändert.</p>
            </td>
        </tr>
        <tr>
            <td>
               <p style="margin:0px; line-height:normal; font-size:14px; padding-top: 16px">Wenn du diese Änderung nicht vorgenommen hast, kontaktiere bitte den Kundensupport des Webshop über das Kontaktformular oder über <a href="mailto:info@zoocial.ch" style="text-decoration: none; color: #A9C598;">info@zoocial.ch</a>.</p>
            </td>
        </tr>
    </table>
    <table width="" border="0" cellspacing="0" cellpadding="0" style="font-family:arial, sans-serif; font-size:13px; width: 100%; text-align: center; background: #f1f1f1; margin-top: 20px; border-top: 1px solid #ddd;">
        <tr>
            <td>
            	<p style="margin:0px; font-size:14px; padding-top: 16px">Tierische Grüsse</p>
            	<p style="margin:10px 0px 0px; color: #A9C598; font-size: 16px; font-weight: bold; padding-bottom: 20px">Dein <a href="https://zoocial.ch" target="_blank" style="text-decoration: none; color: #A9C598;"> ZOOCIAL</a> Team</p>
            </td>
        </tr>
    </table>
  </div>