<div style="font-family:arial, sans-serif;font-size:13px;margin:0px auto; border:10px solid #A9C598; background:#ffffff; min-width: 600px; max-width: 800px; padding: 20px; "> 
    <table width="" border="0" cellspacing="0" cellpadding="0" style="font-family:arial, sans-serif; font-size:13px; width: 100%;">
         <tr>
            <td>
              <a href="#" style="text-align:center; display:block;"><img alt="zoocialshop" title="zoocialshop" border="0" src="https://zoocialshop.ch/images/logo1.jpg"></a>
            </td>
        </tr>               
        <tr style="text-align:left">
            <td>
              <p style="margin:15px 0px; font-size: 16px">Hallo <%= userName %></p>
            </td>
        </tr>    
        <tr>
            <td>
                <p style="margin:0px; line-height:normal; font-size:14px; padding-top: 16px">Du erhältst diese E-Mail, da du in unserem Shop auf «Passwort vergessen» und «Zurücksetzen» geklickt hast oder weil einer unserer Mitarbeitenden für dich dein Passwort zürckgesetzt hat. Um das Passwort jetzt zurückzusetzen klicke bitte auf folgenden Link</p>
            </td>
        </tr>
        <tr>
        	<td>
            	<p style="margin:15px 0px; line-height:normal; font-size:16px; padding-top: 16px; font-weight: bold; text-align: center;"><a href="https://zoocialshop.ch/passwort-zuruecksetzen?vtoken=<%= encodeEmail %>" style="text-decoration: none; background: #A9C598; padding: 12px 25px; color: #fff;">Passwort zurückzusetzen</a></p>

            	<p style="margin:0px 0px; line-height:normal; font-size:14px; padding-top: 16px; color: #636363;">Wenn du Probleme beim Klicken auf die Schaltfläche "Passwort zurückzusetzen" hast, kopiere die URL und füge sie in deinen Webbrowser ein: <br><a href="https://zoocialshop.ch/passwort-zuruecksetzen?vtoken=<%= encodeEmail %>" style="text-decoration: none; color: #A9C598;">https://zoocialshop.ch/passwort-zuruecksetzen?vtoken=<%= encodeEmail %></a> <br>(Dieser Link ist 24 Stunden gültig.)</p>
            </td>
        </tr>
        <tr>
          <td>
              <p style="margin:15px 0 5px; line-height:normal; font-size:14px;">Solltest du Probleme beim Zurücksetzen oder beim Festlegen deines Passwortes haben, zögere nicht und wende dich an uns. Wir helfen dir gerne.</p>
          </td>
        </tr>
    </table>
    <table width="" border="0" cellspacing="0" cellpadding="0" style="font-family:arial, sans-serif; font-size:13px; width: 100%; text-align: center; background: #f1f1f1; margin-top: 20px; border-top: 1px solid #ddd;">
        <tr>
            <td>
            	<p style="margin:0px; font-size:14px; padding-top: 16px">Tierische Grüsse</p>
            	<p style="margin:10px 0px 0px; color: #A9C598; font-size: 16px; font-weight: bold; padding-bottom: 20px">Dein <a href="https://zoocial.ch" target="_blank" style="text-decoration: none; color: #A9C598;"> ZOOCIAL</a> Team</p>
            </td>
        </tr>
    </table>
  </div>