<div style="font-family:arial, sans-serif;font-size:13px;margin:0px auto; border:10px solid #A9C598; background:#ffffff; min-width: 600px; max-width: 800px; padding: 20px; "> 
    <table width="" border="0" cellspacing="0" cellpadding="0" style="font-family:arial, sans-serif; font-size:13px; width: 100%;">
         <tr>
            <td colspan="2">
              <a href="#" style="text-align:center; display:block; margin-bottom: 20px"><img alt="zoocialshop" title="zoocialshop" border="0" src="https://zoocialshop.ch/images/logo1.jpg" style="width: 120px"></a>
            </td>
        </tr>               
        <tr style="text-align:left">
            <td colspan="2">
              <p style="margin:15px 0px; font-size: 16px">Hallo <%= userName %></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="margin:0px; line-height:normal; font-size:14px; padding: 16px 0px">Herzlich Willkommen im ZOOCIAL Shop. Ab sofort kannst du dich mit deiner E-Mailadresse und dem gewählten Passwort in unserem Shop anmelden.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="margin:0px; line-height:normal; font-size:14px; padding: 16px 0px">Zusätzlich hast du die Möglichkeit mit dem Login unsere ZOOCIAL Plattform zu nutzen und dich mit Tierfreunden und Tierexperten auszutauschen. </p>
            </td>
        </tr>
        <tr>
        	<td align="center" width="50%">
            	<p style="margin:15px 0px; line-height:normal; font-size:16px; padding-top: 16px; font-weight: bold;"><a href="https://www.zoocialshop.ch" style="text-decoration: none; background: #A9C598; padding: 12px 25px; color: #fff;">zum ZOOCIAL Shop</a></p>
            </td>
            <td align="center" width="50%">
                <p style="margin:15px 0px; line-height:normal; font-size:16px; padding-top: 16px; font-weight: bold;"><a href="https://www.zoocial.ch" style="text-decoration: none; background: #A9C598; padding: 12px 25px; color: #fff;">zur ZOOCIAL Plattform</a></p>
            </td>
        </tr>
    </table>
    <table width="" border="0" cellspacing="0" cellpadding="0" style="font-family:arial, sans-serif; font-size:13px; width: 100%; text-align: center; background: #f1f1f1; margin-top: 20px; border-top: 1px solid #ddd;">
        <tr>
            <td>
            	<p style="margin:0px; font-size:14px; padding-top: 16px">Tierische Grüsse</p>
            	<p style="margin:10px 0px 0px; color: #A9C598; font-size: 16px; font-weight: bold; padding-bottom: 20px">Dein <a href="https://www.zoocial.ch" target="_blank" style="text-decoration: none; color: #A9C598;"> ZOOCIAL</a> Team</p>
            </td>
        </tr>
    </table>
  </div>