<!DOCTYPE html>
<html lang=”en”>
<head>
<meta charset="utf-8">
<title> 4Beeees | Shop </title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta property="og:title" content="ZOOCIAL SHOP - Für Hunde & Katzen - Tierfutter und Zubehör">
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:description" content="Unser Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Foodwaste» gross: deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta property="og:type" content="article"/>
<meta property="og:locale" content="en_GB" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:locale:alternate" content="es_ES" />

<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">
<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="images/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/fonts/fonts.css" />
<link rel="stylesheet" href="/css/owl.theme.default.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/css/eagle.gallery.css" />

<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
 
<style type="text/css">
#preloader { position: fixed; left: 0; top: 0; z-index: 20000; width: 100%; height: 100%; overflow: visible; background-color:rgba(255,255,255,1);}
.loader-logo{background:url('./images/loader.gif') no-repeat center center; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) !important; z-index: 1000; width: 120px; height: 120px; animation: fadein 1s ease-out ;-webkit-animation: fadein 1s ease-out; }
.paginate { padding: 0; margin: 0; }
.paginate > li { list-style: none; padding: 10px 20px; margin: 10px 0; }
</style> 
</head>
<body>
<div id="preloader">
   <div class="loader-logo"></div>
</div>
<header class="header_login InnerHeader">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      
      <a class="navbar-brand" href="/">
        <img src="/images/logo-black.png" alt="logo" title="zoocial">
      </a>
      <div class="headerCart mobileHeaderCart">
         <span class="top-count product_count">10</span>
          <a id="mobileCartPopupOpen" href="javascript:;">
            <img src="/images/svg/shopping-cart.svg">
          </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="images/svg/menu-bar.svg" alt="">
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="secondary-nav">
        <ul>
          <li class="nav-item"><a class="nav-link socialIcon" href="javascript:;"><i class="fa fa-facebook"></i></a></li>
          <li class="nav-item socialIcon"><a class="nav-link" href="javascript:;"><i class="fa fa-twitter"></i></a></li>
          <li class="nav-item socialIcon"><a class="nav-link" href="javascript:;"><i class="fa fa-instagram"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">Suche</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">login</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">Support</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              De
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Eng</a>
            </div>
          </li>

        </ul>
      </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown megamenu">
            <a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle ">Katzen</a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-12">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item dropdown megamenu">
            <a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle ">Hunde</a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-12">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item dropdown megamenu">
            <a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle ">Zubehör</a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-12">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item dropdown megamenu">
            <a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle ">Tierarzt</a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-12">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item dropdown megamenu">
            <a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle ">Aktionen</a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="row bg-white rounded-0 m-0 shadow-sm">
                  <div class="col-lg-12">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <h6 class="font-weight-bold text-uppercase">Katzenfutter</h6>
                          <ul>
                            <li class="nav-item">
                              <a href="#">Katzen-Trockenfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzen-Nassfutter</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Katzensnacks</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Nahrungsergänzung</a>
                            </li>
                            <li class="nav-item">
                              <a href="">Trixie Ersatz- &amp; Ausbauteile</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="headerCart">
             <span class="top-count product_count">10</span>
              <a id="cartPopupOpen" href="javascript:;">
                <img src="/images/svg/shopping-cart.svg">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
