<% include ../templates/shop-header %>
<section id="staic-page-banner" class="about-banner-bg ">
    <div class="container">
        <div class="inner-page-header-content">
          <h1>Über uns</h1>
          <p>ZOOCIAL – die Schweizer Plattform für Nachhaltigkeit in der Tierwelt</p>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 col-md-12 my-auto ab-content">
	            <div class="row">
	              <div class="col-lg-6 col-md-12">
	                <h2 class="sec_title1">Willkommen bei <span>ZOOCIAL!</span></h2>
	                <p>Dürfen wir uns vorstellen? Wir sind dein Partner in allen Fragen rund um die Tierwelt – und Nachhaltigkeit. Denn besonders dies ist uns wichtig zu betonen: wir stehen für den ökologischen Einsatz von Tierprodukten, langwährenden Zusammenarbeiten und einer Plattform, die uns und euch näherbringt.</p>
	              </div>
	              <div class="col-lg-6 col-md-12">
	                <figure>
	                <img class="img-fluid" src="/images/ab-img.jpg">  
	                </figure>
	              </div>
	            </div>
	        </div>
		</div>
	</div>
</section>
<section id="inner-page-content" class="section-md why-us">
  	<div class="container">
	    <div class="row">
	      	<div class="col-lg-12 col-md-12">
	            <div class="wpb_wrapper">
		            <div class="welcome-info ">
		                <div class="welcome-info-item">
		                  	<div class="entry">
				              <figure class="entry-thumbnail">
				                <img src="/images/svg/camera.svg" width="110" height="110">
				              </figure>
				              <div class="entry-body">
				                <h3 class="entry-title">Was tun wir?</h3>
				                <div class="entry-content">Bei ZOOCIAL setzen wir uns für Tiere und ihre Halter ein – also euch! Dabei ist uns besonders wichtig, dass wir euch eine Bühne bieten, in der ihr zusammenfindet, euch kennen lernt und euch austauschen könnt. Ob Haus- oder Nutztiere, Züchter, Tierärzte oder Tierhalter, wir bringen euch zusammen. Eure Bewertungen, Likes und Kommentare machen uns erst zu etwas Besonderem.</div>
				              </div>
		            		</div>
		          		</div>
			          	<div class="welcome-info-item">
			                <div class="entry">
				              <figure class="entry-thumbnail">
				                <img src="/images/svg/like.svg">
				              </figure>
				              <div class="entry-body">
				                <h3 class="entry-title">Was macht ZOOCIAL noch?</h3>
				                <div class="entry-content">Alles! Wir sind eure Anlaufstelle bei allen Fragen rund um eure liebsten Tierfreunde. Ihr sucht das beste Futter? Hier! Ihr wollt Gleichgesinnte kennenlernen? Hier! Ihr sucht die beste Praxis in eurer Region? Auch hier. Bei ZOOCIAL vereinen wir Wissen, Austausch und einen Marktplatz, bei dem ihr Waren kaufen, verkaufen, tauschen oder verschenken könnt. Ihr sucht preiswerte Futterrationen? Ebenfalls hier! Dank unseres Nachhaltigkeitsprinzip bieten wir auch kurzzeitig haltbares Futter an – günstig und gut für euch, euer Tier und die Umwelt. Die grosse Community macht uns stark – und schnell. Ihr habt dringende Fragen in einer tierischen Angelegenheit? Eure Mit-User stehen euch mit Rat und Tat zur Seite. Und auch in schweren Zeiten begleiten wir euch und helfen, verlorene oder entlaufene Tiere wieder zu finden oder den Halter eines gefundenen Tieres zu suchen.</div>
				              </div>
			            	</div>
			          	</div>
			          	<div class="welcome-info-item">
			              	<div class="entry">
				              <figure class="entry-thumbnail">
				                <img src="/images/svg/magnifying-glass.svg">
				              </figure>
				              <div class="entry-body">
				                <h3 class="entry-title">Wozu ZOOCIAL? </h3>
				                <div class="entry-content">Weil wir die Welt ein Stückchen besser machen. Wir fördern Nachhaltigkeit, in dem wir nachhaltige Beziehungen zu uns und unter euch knüpfen und pflegen. Besser gesagt:  zusammenbringen was zusammengehört. Unser Herz hängt an Tieren und an der Umwelt - für diese suchen wir Projekte und Organisationen, die wir und ihr tatkräftig oder finanziell unterstützen können. Unter «Spenden» seht ihr auch, wo wir unsere Beteiligung von 10% von allen Einkäufen über unseren Onlineshop investieren: in die Zukunft der Tierwelt.</div>
				              </div>
			        		</div>
			          	</div>
			          	<div class="welcome-info-item">
			              	<div class="entry">
				                <figure class="entry-thumbnail">
				                  <img src="/images/svg/money-bag.svg">
				                </figure>
				                <div class="entry-body">
				                  <h3 class="entry-title">Kann ZOOCIAL das noch toppen?</h3>
				                  <div class="entry-content">Natürlich! Wir bieten euch in unserem Markplatz an, selbst aktiv zu werden. Ihr sucht einen Job in einem Tierberuf oder einen Mitarbeiter, der euch auf dem Hof, beim Tiersitten oder Laufen gehen unterstützt? Einfach im Jobportal inserieren. Noch nie konnten wir euch eine bessere Möglichkeit bieten, euch zu vermarkten! Präsentiert eure Tierarztpraxis und lasst euch mit dem Praxenlocator finden – neue Patienten freuen sich bereits darauf, euch kennen zu lernen. So finden User auch Ärzte mit Fachgebieten und besonderen Fähigkeiten: also euch! <br>
				                  Selbst Werbeflächen bringen wir unter: damit es euch an nichts fehlt. <br>
				                  Und sollte euch doch etwas fehlen: kommt auf uns zu! Wir freuen uns auf eure nachhaltigen Inputs!</div>
				                </div>
			            	</div>
			          	</div>
	        		</div>
	  			</div>
			</div>
		</div>
	</div>
</section>
<% include ../templates/shop-footer %>