<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner-bg ">
    <div class="container">
        <div class="inner-page-header-content">
          <h1>AGB</h1>
          <p>ZOOCIAL – die Schweizer Plattform für Nachhaltigkeit in der Tierwelt</p>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 ab-content footer_contents">
          <h4>Allgemeines</h4>
          <p>Diese allgemeinen Geschäftsbedingungen gelten für Geschäftsbeziehungen zwischen Bestellern (natürliche und juristische Personen) im ZOOCIALSHOP und der 4beeees GmbH. </p>

          <h4>Produkteinformationen </h4>
          <p>Die Angaben zu den einzelnen Produkten wurden weitgehend den verschiedenen Informationsmedien der jeweiligen Hersteller entnommen. 4beeees GmbH übernimmt deshalb keine Verantwortung für die Vollständigkeit und Richtigkeit dieser Angaben. ZOOCIALSHOP, 4beeees GmbH behält sich das Recht vor, die Produktabbildungen jederzeit zu ändern. </p>
          <h4>Preise, Vertragsabschluss </h4>
          <p>Die Bestellung erfolgt durch die Übermittlung des ausgefüllten Bestellformulars im OnlineVerfahren. Der Vertrag kommt unabhängig von einer Bestätigung des Eingangs der Bestellung erst mit Auslieferung der Waren zustande. Unsere Preise verstehen sich in Schweizer Franken. Die angegebenen Preise sind inkl. Mehrwertsteuer. </p>
          <h4>Warenrücksendung </h4>
          <p>Grundsätzlich gibt es in der Schweiz kein gesetzliches Rückgaberecht. Die 4beeees GmbH ist aber in jedem Fall bemüht dir ein freiwilliges Rückgaberecht zu gewähren, wobei du verschiedene Punkte beachten musst: </p>
          <p>Jede Rücksendung muss vorgängig per Email angekündigt werden (info@zoocial.ch). Diese wird von uns geprüft worauf wir dich über das weitere Vorgehen per Mail informieren werden. </p>
          <p>Bitte nenne uns in der Email deine vollständige Adresse und teile uns mit, ob die Gutschrift in Form eines Gutscheins oder einer Rückzahlung erfolgen soll. Bei einer Rückzahlung gib uns deine IBAN-Nr. an. Kreditkartenzahlungen oder Überweisungen mittels Paypal werden direkt gutgeschrieben.</p>
          <p>Zudem benötigen wir die Bestell- und Artikelnummer sowie Menge und den Grund für die Retoure. </p>
          <p>Rückgaberecht von Zubehörartikel <br>Du kannst die erhaltene Ware in der Originalverpackung innert 14 Tagen nach Erhalt retournieren. </p>
          <p>Rückgaberecht von Tiernahrung / Futtermittel<br> Aus Gründen der Qualitätssicherung kannst du Futtermittel nur während 5 Tagen nach Erhalt retournieren. Das Futter muss zwingend ungeöffnet und originalverpackt zurückgeschickt werden. Dies gilt auch für Mehrfachpackungen. Futter mit kurzem Verfall kannst du nicht retournieren. </p>
          <p>Die anfallenden Portokosten müssen von dir übernommen werden. Handelt es sich um eine Fehllieferung unsererseits, werden die Portokosten von der 4beeees GmbH übernommen. </p>
          <p>Von der Poststelle erhältst du bei der Paketaufgabe kostenlos einen Beleg. Bewahre diesen bitte gut auf, denn im Falle eines Paketverlustes kann deine Rücksendung nur gegen Vorweisung dieses Beleges gutgeschrieben werden. </p>
          <p>Nach Eingang der Ware wird dir der Kaufpreis zurückerstattet, abzüglich einer Umtriebsgebühr von CHF 10.-. Bitte beachte, dass abhängig von deiner gewählten Zahlungsart noch zusätzliche Gebühren anfallen können. </p>
          <h4>Haftung </h4>
          <p>Da der ZOOCIALSHOP, 4beeees GmbH die Produkte nicht selber herstellt, hat sie keinerlei Einfluss auf die Beschaffenheit der Produkte. Jegliche Gewährleistung wird deshalb ausgeschlossen. ZOOCIALSHOP 4beeees GmbH kann für Produktfehler und deren Folge nicht haftbar gemacht werden. </p>
          <h4>Lieferung </h4>
          <p>Die Pakete werden von der Schweizerischen Post (&gt;90% aller Bestellungen), DHL, DPD oder LeClerc ausgeliefert. Die Auslieferung erfolgt in der Regel innerhalb von 1 - 2 Werktagen nach Zahlungseingang (siehe Zahlungsarten). </p>
 
          <p>Allfällige Lieferverzögerungen sind vorbehalten und werden dir so rasch als möglich mitgeteilt. Der ZOOCIALSHOP 4beeees GmbH übernimmt keine Haftung für Transportschäden. Diese müssen beim jeweiligen Transportunternehmen geltend gemacht werden.</p>
 
          <p>Es ist möglich, dass bei einer Bestellung die gewünschte Ware in verschiedenen Paketen ausgeliefert wird. Diese werden nicht zwingend am gleichen Tag zugestellt. </p>
          <p>Eine Lieferung ins Ausland ist nicht möglich (nur Schweiz und Liechtenstein). </p>
 
          <p>Wenn mehrere Bestellungen von einem Kunden am gleichen Tag bei uns eingehen, kann eine Zusammenfassung nicht garantiert werden. </p>

          <h4>Beanstandungen/Reklamationen </h4>
          <p>Beanstandungen wegen unvollständiger oder unrichtiger Lieferung oder wegen erkennbarer Mängel müssen unverzüglich, mindestens aber innerhalb von 3 Arbeitstagen nach Empfang der Ware schriftlich unter genauer Angabe der behaupteten einzelnen Mängel erfolgen. Die Untersuchungspflicht erstreckt sich auf die ganze Lieferung. Für zu spät gemeldete Mängel wird keine Haftung übernommen.</p>
          <h4>Versandkonditionen </h4>
          <p><strong>Ab einem Bestellwert von CHF 100.- wird eine Bestellung versandkostenfrei geliefert. Liegt der Bestellwert unter CHF100.- erheben wir eine Pauschale für Porto und Verpackung von CHF 7.50 pro Bestellung, unabhängig von der Anzahl der Pakete oder Grösse und Gewicht der Sendung.</strong></p>
          <h4>Zahlungsarten </h4>
          <p><strong>Kreditkarte, TWINT, Postfinance, Paypal: </strong><br>Ihre Bestellung wird mit höchster Priorität abgewickelt. Es fallen keine Zahlungsgebühren an.</p>
          <h4>Datenschutz und Sicherheit </h4>
          <p>Als Besteller erklärst du dich damit einverstanden, dass ZOOCIALSHOP, 4beeees GmbH die ihr im Rahmen des Vertragsschlusses bekannt gewordenen Daten zur Erfüllung ihrer Verpflichtungen aus dem Kaufvertrag, zu Marketingzwecken sowie zur Marktanalyse nutzen darf. Du erklärst dich weiter damit einverstanden, dass ZOOCIALSHOP, 4beeees GmbH deine Daten zur Erfüllung ihrer Verpflichtungen aus dem Kaufvertrag an Dritte (insbesondere Logistikpartner und Lieferanten) weitergibt. </p>

          <p class="bg_hilight">Deine Kreditkarten-Informationen werden verschlüsselt zur Verarbeitung beim Betreiber der Zahlungsschnittstelle (PayOne) übertragen. Kreditkartendaten werden bei uns zu keinem Zeitpunkt gespeichert (direkte Übermittlung über externe Schnittstelle – www.payone.de). </p>

          <h4>Eigentumsvorbehalt </h4>
          <p>Die Ware bleibt bis zur vollständigen Bezahlung Eigentum der ZOOCIALSHOP, 4beeees GmbH. </p>
          <h4>Gerichtsstand </h4>
          <p>Auf Verträge zwischen der ZOOCIALSHOP, 4beeees GmbH, und dir ist ausschliesslich schweizerisches Recht anwendbar, unter Ausschluss des Kollisionsrechts und internationaler Verträge wie das Übereinkommen der Vereinten Nationen über Verträge über den internationalen Warenkauf. </p>
          <p>Für Streitigkeiten zwischen der ZOOCIALSHOP, 4beeees GmbH, und dir sind die Gerichte am Sitz der 4beeees GmbH zuständig. </p>
          <p>Stand: August 2020 </p>
          
        </div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>