<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner-bg ">
    <div class="container">
        <div class="inner-page-header-content">
          <h1>Datenschutzerklärung</h1>
          <p>ZOOCIAL – die Schweizer Plattform für Nachhaltigkeit in der Tierwelt</p>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 ab-content footer_contents">
          <p>ZOOCIAL, 4beeees GmbH mit Sitz in Binningen ist die Betreiberin der zoocial.ch-Plattform inkl. Shop und der darauf angebotenen Dienste und somit verantwortlich für die Erhebung, Verarbeitung und Nutzung Ihrer persönlichen Daten und die Vereinbarkeit der Datenbearbeitung mit dem anwendbaren Datenschutzrecht. </p>

          <p>Kontaktdaten:</p>
          
          <p>ZOOCIAL<br>
            Vertreten durch Kerstin Balmer<br>
            4beeees GmbH<br>
            Bottmingerstrasse 50<br>
            CH-4102 Binningen<br>
            <a href="mailto:info@zoocial.ch">info@zoocial.ch</a><br>
          </p>

          <p>Datenschutz ist Vertrauenssache und Dein Vertrauen ist uns wichtig. Wir respektieren Deine Persönlichkeit und Privatsphäre. Ebenso möchten wir den Schutz und die gesetzeskonforme Bearbeitung Deiner Personendaten sicherstellen. </p>

          <p>Datensammlung Im Zusammenhang mit der Bestellung erheben wir folgende Daten: </p>
          <ul class="other-questions ml-0">
            <li>Name und Vorname</li>
            <li>Lieferadresse</li>
            <li>Rechnungsadresse</li>
            <li>Sprachpräferenzen</li>
            <li>Telefonnummer(n)</li>
            <li>E-Mail-Adresse(n)</li>
            <li>Kundennummern</li>
            <li>Zustimmung zum Empfang von Newslettern</li>
            <li>Zustimmung der AGB’s</li>
            <li>Online-Kundenkonto-Informationen (einschliesslich Eröffnungsdatum, Benutzernamen)</li>
            <li>Einkaufsinformationen (einschliesslich Einkaufsdatum, Einkaufszeit, Art des Gerätes auf welchem der Einkauf getätigt wurde, Art, Menge und Wert der eingekauften Waren, Warenkorb, verwendete Zahlungsmittel, Einkaufshistorie)</li>
          </ul>

          <h4>Datenverwendung </h4>
          <p>Die erhobenen Daten werden zur Erfüllung und Abwicklung der Bestellung verwendet sowie für die Kommunikation mit den Kunden per Telefon oder Email. Bei Anmeldung zum Newsletter wird die E-Mail-Adresse für die Zusendung des Newsletters genutzt, bis eine Abmeldung vom Newsletter erfolgt. Die Abmeldung ist jederzeit möglich. Wir behalten Deine Personendaten so lange auf, wie wir dies zur Einhaltung der geltenden Gesetze als notwendig oder angemessen erachten oder so lange sie für die Zwecke, für die sie gesammelt wurden, notwendig sind. In keinem Fall werden die erhobenen Daten verkauft oder anderweitig vermarktet. Hierin besteht unser berechtigtes Interesse an der Datenverarbeitung im Sinne von Art. 6 Abs. 1 lit. f DSGVO. </p>

          <h4>Datenspeicherung</h4>
          <p>Die im Zusammenhang mit der Bestellung erhobenen Daten werden im Sinne des Datenschutzes gespeichert, ausgewertet, verarbeitet und genutzt. Die im Rahmen der Bestellung erhobenen Daten werden nach Vertragsabschluss von uns gespeichert. Du als Kunde hast das Recht, Auskunft über die über Deine gespeicherten Daten zu verlangen. Er hat ferner das Recht, die Berichtigung, die Sperrung oder die Löschung Deiner gespeicherten Daten zu verlangen, solange die gesetzlichen Vorschriften dem nicht entgegenstehen. </p>

          <h4>Datensicherheit </h4>
          <p>Wir verfügen über technische und organisatorische Sicherheitsverfahren, um die Sicherheit der erhobenen Daten zu wahren und gegen unberechtigte oder unrechtmässige Bearbeitung und/oder gegen unbeabsichtigten Verlust, Veränderung, Bekanntmachung oder Zugriff zu schützen. Deine persönlichen Daten werden durch Verschlüsselung übertragen. Wir bedienen uns dabei des Codierungssystems SSL (Secure Socket Layer). Du solltest dir jedoch stets bewusst sein, dass die Übermittlung von Informationen über das Internet und andere elektronische Mittel gewisse Sicherheitsrisiken birgt und dass wir für die Sicherheit von Informationen, die auf diese Weise übermittelt werden, keine Garantie übernehmen können. </p>

          <h4>Webanalyse mit Google Analytics</h4>
          <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Deinem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Dich ermöglichen. Die durch das Cookie erzeugten Informationen über Deine Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP Anonymisierung auf dieser Webseite, wird Deine IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Deine Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Deinem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Deiner Browser-Software verhindern; wir weisen Dich jedoch darauf hin, dass du in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich wirst nutzen können. Du kannst darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Deine Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem du das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installierst: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a></p>

          <h4>Remarketing mit Google Adwords</h4>
          <p>Diese Website nutzt das Google Conversion Tracking, einen Analysedienst der Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; „Google“). Dabei wird von Google Adwords ein Cookie auf Ihrem Rechner gesetzt („Conversion Cookie“), sofern Du über eine Google-Anzeige auf unsere Webseite gelangt bist. Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung. Besuchst Du bestimmte Seiten von uns und das Cookie ist noch nicht abgelaufen, können wir und Google erkennen, dass jemand auf die Anzeige geklickt hat und so zu unserer Seite weitergeleitet wurde. Jeder AdWords-Kunde erhält ein anderes Cookie. Cookies können somit nicht über die Webseiten von AdWords-Kunden nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die AdWordsKunden erfahren die Gesamtanzahl der Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer persönlich identifizieren lassen. Wenn Du nicht an dem Tracking Verfahren teilnehmen möchtest, kannst Du auch das hierfür erforderliche Setzen eines Cookies ablehnen – etwa per Browser-Einstellung, die das automatische Setzen von Cookies generell deaktiviert. Du kannst Cookies für Conversion-Tracking auch deaktivieren, indem Du deinen Browser so einstellst, dass Cookies von der Domain „googleadservices.com“ blockiert werden.</p>

          <p>Wir nutzen die Remarketing Technologie der Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; „Google“). Durch diese Technologie werden Nutzer, die unsere Internetseiten und Onlinedienste bereits besucht und sich für das Angebot interessiert haben, durch zielgerichtete Werbung auf den Seiten des Google Partner Netzwerks erneut angesprochen. Die Einblendung der Werbung erfolgt durch den Einsatz von Cookies. Mit deren Hilfe kann das Nutzerverhalten beim Besuch der Website analysiert und anschliessend für gezielte Produktempfehlungen und interessenbasierte Werbung genutzt werden. </p>

          <p>Wenn Du keine interessenbasierte Werbung erhalten möchten, kannst Du die Verwendung von Cookies durch Google für diese Zwecke deaktivieren. Alternativ können Nutzer die Verwendung von Cookies von Drittanbietern deaktivieren, indem Du die Deaktivierungsseite der Netzwerkwerbeinitiative aufrufst.</p>

          <p>Durch die Nutzung unserer Angebote erklärst Du dich mit der Bearbeitung der über Deine erhobenen Daten durch Google in der hier beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Wir weisen darauf hin, dass Google eigene Datenschutz-Richtlinien hat, die von unseren unabhängig sind. Wir übernehmen keine Verantwortung oder Haftung für diese Richtlinien und Verfahren. Bitte informiere Dich sich vor der Nutzung unserer Webseite über <a href="https://policies.google.com/privacy?hl=de&amp;gl=ch" target="_blank">die Datenschutzbestimmungen von Google.</a></p> 

          <h4>Facebook </h4>
          <p>AAuf unserer Website werden sogenannte Social Plugins („Plugins“) des sozialen Netzwerkes Facebook verwendet, das von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA („Facebook“) betrieben wird. Die Plugins sind mit einem Facebook-Logo oder dem Zusatz „Soziales Plug-in von Facebook“ bzw. „Facebook Social Plugin“ gekennzeichnet. Wenn Du eine Seite unseres Webauftritts aufrufen, die ein solches Plugin enthält, stellt Dein Browser eine direkte Verbindung zu den Servern von Facebook her. Der Inhalt des Plugins wird von Facebook direkt an Ihren Browser übermittelt und in die Seite eingebunden. Durch diese Einbindung erhält Facebook die Information, dass Dein Browser die entsprechende Seite unseres Webauftritts aufgerufen hat, auch wenn Du kein Facebook-Profil besitzen oder gerade nicht bei Facebook eingeloggt bist. Diese Information (einschliesslich Ihrer IP-Adresse) wird von Deinem Browser direkt an einen Server von Facebook in die USA übermittelt und dort gespeichert. Bist du bei Facebook eingeloggt, kann Facebook den Besuch unserer Website Deinem Facebook-Profil unmittelbar zuordnen. Wenn Du mit den Plugins interagieren, zum Beispiel den „Gefällt mir“-Button betätigst oder einen Kommentar abgibst, wird diese Information ebenfalls direkt an einen Server von Facebook übermittelt und dort gespeichert. Die Informationen werden ausserdem auf Ihrem Facebook- Profil veröffentlicht und Deine FacebookFreunden angezeigt. Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie Deine diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Deiner Privatsphäre entnimmst Du  bitte den Datenschutzhinweisen von Facebook. </p>

          <p>Wenn Du nicht möchtest, dass Facebook die über unseren Webauftritt gesammelten Daten unmittelbar Deinem Facebook-Profil zuordnet, musst du dich vor Deinem Besuch unserer Website bei Facebook ausloggen.</p>

          <h4>Google+</h4>
          <p>Auf unserer Website werden sogenannte Social Plugins („Plugins“) des sozialen Netzwerkes Google+ verwendet, das von der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA („Google“) betrieben wird. Die Plugins sind z. B. an Buttons mit dem Zeichen „+1“ auf weissem oder farbigem Hintergrund erkennbar. Wenn Du eine Seite unseres Webauftritts aufrufen, die ein solches Plugin enthält, stellt Dein Browser eine direkte Verbindung zu den Servern von Google her. Der Inhalt des Plugins wird von Google direkt an Deinen Browser übermittelt und in die Seite eingebunden. Durch die Einbindung erhält Google die Information, dass Dein Browser die entsprechende Seite unseres Webauftritts aufgerufen hat, auch wenn Du kein Profil bei Google+ besitzt oder gerade nicht bei Google+ eingeloggt bist. Diese Information (einschließlich Ihrer IP-Adresse) wird von Deinem Browser direkt an einen Server von Google in die USA übermittelt und dort gespeichert. Bist du bei Google+ eingeloggt, kann Google den Besuch unserer Website Deinem Google+ Profil unmittelbar zuordnen. Wenn Du mit den Plugins interagieren, zum Beispiel den „+1“-Button betätigen, wird die entsprechende Information ebenfalls direkt an einen Server von Google übermittelt und dort gespeichert. Die Informationen werden ausserdem auf Google+ veröffentlicht und dort Deine Kontakten angezeigen. Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Google sowie Deine diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmst Du bitte den Datenschutzhinweisen von Google. Wenn Du nicht möchtest, dass Google die über unseren Webauftritt gesammelten Daten unmittelbar Deinem Profil auf Google+ zuordnet, musst Du dich vor Deinem Besuch unserer Website bei Google+ ausloggen. Du kannst das Laden der Google Plugins auch mit Add-Ons für Deinen Browser komplett verhindern. </p>

          <p>Auf verschiedenen Seiten verwenden wir Cookies, um den Besuch unserer Website attraktiver zu gestalten und die Nutzung bestimmter Funktionen zu ermöglichen. Die meisten der von uns verwendeten Cookies werden nach Ende der Browser-Sitzung wieder von Ihrer Festplatte gelöscht (sog. Sitzungs- oder Session-Cookies). Andere Cookies verbleiben auf Deinem Computer und ermöglichen uns, Dich bei Deinem nächsten Besuch wieder zu erkennen (sog. dauerhafte Cookies). Unseren Partnerunternehmen ist es nicht gestattet, über unsere Website Personendaten mittels Cookies zu beschaffen oder zu bearbeiten. Du kannst die Speicherung von Cookies in Deinem Browser verhindern, indem Du über die Menüleiste „ Extras Internetoptionen Datenschutz “ (Internet Explorer) bzw. „ Einstellungen Datenschutz “ (Firefox) die Speicherung und das Lesen von Cookies einschränkst oder ausschaltest. Bitte beachte, dass Du gewisse Funktionen unserer Website ohne Cookies nicht nutzen kannst.</p>
          
          <p>Binningen, 17.08.2020</p>

        </div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>