<% include ../templates/shop-header %>
<section id="staic-page-banner" class="topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-12 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="/">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
    	<div class="col-lg-12 col-md-12 faqContent maxContentHeight">
    		<h4 class="mb-3">häufig gestellte Fragen</h4>
	        <div class="accordion" id="faqZShop">
	            <div class="card">
	                <div class="card-header1 p-2" id="heading1">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link accordion_head" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
	                          Q: Hast du dein Passwort vergessen
	                        </button>
	                      </h5>
	                </div>

	                <div id="collapse1" class="collapse show accordion_body" aria-labelledby="heading1" data-parent="#faqZShop">
	                    <div class="card-body">
	                    	<span class="ans">A:</span>
	                        <p>Du hast dein Passwort vergessen und weisst nicht weiter? Kein Problem! <a href="/passwortvergessen" alt="Passwort">HIER</a> kannst du ganz unkompliziert dein Passwort rekonstruieren. Gib einfach deine E-Mail Adresse ein und bestätige die darauffolgende E-Mail Adresse – in einigen Klicks bist du bereits wieder online.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header1 p-2" id="heading2">
	                    <h5 class="mb-0">
	                    <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
	                      Q: Hast du Probleme bei der Anmeldung?
	                    </button>
	                  </h5>
	                </div>
	                <div id="collapse2" class="collapse accordion_body" aria-labelledby="heading2" data-parent="#faqZShop">
	                    <div class="card-body">
	                    	<span class="ans">A:</span>
	                        <p>Wenn du dich mit deinem Benutzername und deinem Passwort nicht anmelden kannst, überprüfe alle Angaben auf ihre Korrektheit. Sollte es mit dem Login weiterhin nicht klappen, melde dich einfach <a href="/passwortvergessen" alt="Passwort">HIER</a>.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header1 p-2" id="heading3">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
	                          Q: Hast du Fragen oder ein Feedback für uns? Entstehen Probleme während der Bestellung, Zahlung etc.?
	                        </button>
	                      </h5>
	                </div>
	                <div id="collapse3" class="collapse accordion_body" aria-labelledby="heading3" data-parent="#faqZShop">
	                    <div class="card-body">
	                    	<span class="ans">A:</span>
	                    	<p>Komm ungeniert per Mail an die Adresse <a href="mailto:info@zoocialshop.ch">info@zoocialshop.ch</a> oder über das Kontaktformular auf uns zu. Wir freuen uns, dir weiterhelfen zu können.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header1 p-2" id="heading4">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse3">
	                          Q: Kann ich meine Ware wieder zurücksenden?
	                        </button>
	                      </h5>
	                </div>
	                <div id="collapse4" class="collapse accordion_body" aria-labelledby="heading4" data-parent="#faqZShop">
	                    <div class="card-body">
	                    	<span class="ans">A:</span>
	                    	<p>Grundsätzlich gibt es in der Schweiz kein gesetzliches Rückgaberecht. Doch uns ist die Zusammenarbeit mit dir und deiner Zufriedenheit wichtig. Deswegen ermöglichen wir den Rückversand von Waren zu den folgenden Konditionen:</p>

							<p>Jede Rücksendung muss vorgängig per Email angekündigt werden (info@zoocialshop.ch). Diese wird von uns geprüft, worauf wir dich über das weitere Vorgehen per Mail informieren werden.</p>

							<p>Bitte nenne uns in der Email deine vollständige Adresse und teile uns mit, ob die Gutschrift in Form eines Gutscheins oder einer Rückzahlung erfolgen soll. Bei einer Rückzahlung gib uns bitte deine Konto- und Bankinformationen an. Kreditkartenzahlungen direkt gutgeschrieben.</p>

							<p>Wichtig: für eine schnelle Abwicklung benötigen wir deine Bestell- und Artikelnummer sowie die Menge und den Grund für die Retoure. So können wir deinen Fall bestmöglich bearbeiten.</p>
							<p>Rückgaberecht von Zubehörartikel</p>

							<p>Du kannst die erhaltene Ware in der Originalverpackung innert 14 Tagen nach Erhalt retournieren.</p>
							<p>Rückgaberecht von Tiernahrung / Futtermittel</p>
							<p>Aus Gründen der Qualitätssicherung kannst du Futtermittel nur während 5 Tagen nach Erhalt retournieren. Das Futter muss zwingend ungeöffnet und originalverpackt zurückgeschickt werden - dies gilt auch für Mehrfachpackungen. «Remi» Produktes kannst du leider nicht retournieren.</p>

							<p>Die anfallenden Portokosten für den Rückversand sind durch dich zu begleichen. Handelt es sich um eine Fehllieferung unsererseits, werden die Portokosten selbstverständlich von zoocialshop übernommen.</p>

							<p>Von der Poststelle erhältst du bei der Paketaufgabe kostenlos einen Beleg. Bewahre diesen bitte gut auf, denn im Falle eines Paketverlustes kann deine Rücksendung nur gegen Vorweisung dieses Beleges gutgeschrieben werden.</p>

							<p>Sobald wir die Waren zurückerhalten, werden wir dir den Kaufpreis zurückerstatten. </p>
	                    </div>
	                </div>
				</div>
				<div class="card">
	                <div class="card-header1 p-2" id="heading5">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
	                          Q: Sind die Preise inkl. oder exkl. MWST?
	                        </button>
	                      </h5>
	                </div>
	                <div id="collapse5" class="collapse accordion_body" aria-labelledby="heading5" data-parent="#faqZShop">
	                    <div class="card-body">
	                    	<span class="ans">A:</span>
	                        <p>Die angegebenen Preise verstehen sich inkl. Mehrwertsteuer.</p>
	                    </div>
	                </div>
				</div>
				<div class="card">
	                <div class="card-header1 p-2" id="heading6">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
	                          Q: Wie sieht die aktuelle Liefersituation während der Corona Pandemie aus?
	                        </button>
	                      </h5>
	                </div>
	                <div id="collapse6" class="collapse accordion_body" aria-labelledby="heading6" data-parent="#faqZShop">
	                    <div class="card-body">
	                    	<span class="ans">A:</span>
	                        <p>Aktuell sind alle Artikel, welche in unserem Shop auf Lager sind, verfügbar</p>

							<p>Es kann jedoch zu etwas längerer Lieferzeit kommen, da unsere Logistiker nicht in jedem Fall alle Pakete innerhalb des gleichen Tages verarbeiten können. Bitte hab auch dafür Verständnis. Wir geben uns in jedem Fall die grösste Mühe, dich so rasch wie möglich beliefern zu können.</p>

							<p>WICHTIG: Falls du auf eine Futterlieferung wartest, kontaktiere uns bitte erst 7 Tage nach deiner Bestellung. Es kommt aktuell leider nicht nur im Lager sondern auch bei der Post zu verzögerten Auslieferungen. Du kannst aber versichert sein, dass du dein Futter erhältst - einfach nicht ganz so schnell wie gewohnt. Du hilfst damit dabei, unser ganzes Backoffice zu entlasten. Vielen Dank für dein Verständnis und deine Zusammenarbeit in dieser herausfordernden Zeit!</p>
	                    </div>
	                </div>
				</div>

				<div class="card">
	                <div class="card-header1 p-2" id="heading7">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
	                          Q: Spenden
	                        </button>
	                      </h5>
	                </div>
	                <div id="collapse7" class="collapse accordion_body" aria-labelledby="heading7" data-parent="#faqZShop">
	                    <div class="card-body">
	                    	<span class="ans">A:</span>
	                        <p>Weil wir die Welt ein Stückchen besser machen. Wir fördern Nachhaltigkeit, in dem wir nachhaltige Beziehungen zu uns und unter euch knüpfen und pflegen. Besser gesagt: zusammenbringen was zusammengehört. Unser Herz hängt an Tieren und an der Umwelt - für diese suchen wir Projekte und Organisationen, die wir und ihr tatkräftig oder finanziell unterstützen können. Bitte schickt uns Vorschläge an die wir 10% des Gewinnes spenden können: in die Zukunft der Tierwelt, unsere Mitmenschen und die Umwelt.</p>
	                        <p>Als 1. Projekt unterstützt ZOOCIAL die Stiftung Schweizerische Schule für Blindenführhunde Allschwil.</p>
	                    </div>
	                </div>
				</div>

				<!-- <div class="card">
					                <div class="card-header1 p-2" id="heading7">
					                    <h5 class="mb-0">
					                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
					                          Q: Aktuelle Liefersituation während der Coronaepidemie
					                          <span class="plusminus"><i class="fa fa-angle-right"></i></span>
					                        </button>
					                      </h5>
					                </div>
					                <div id="collapse7" class="collapse accordion_body" aria-labelledby="heading7" data-parent="#faqZShop">
					                    <div class="card-body">
					                    	<span class="ans">A:</span>
					                        <p>Aktuell sind alle Artikel, welche in unserem Shop auf Lager sind, verfügbar. Wir können die Lagerbestände aber nur periodisch (mehrfach täglich) abgleichen. Bitte hab deshalb Verständnis, wenn es aufgrund des hohen Bestellvolumens doch einmal zu Lieferengpässen kommen sollte.</p>
							<p>Zudem kommt es aktuell zu etwas längeren Lieferzeiten, da unsere Logistiker nicht in jedem Fall alle Pakete innerhalb des gleichen Tages verarbeiten können. Bitte hab auch dafür Verständnis. Wir geben uns in jedem Fall die grösste Mühe, dich so rasch wie möglich beliefern zu können.</p>
							<p>WICHTIG: Falls du auf eine Futterlieferung wartest, kontaktiere uns bitte erst 7 Tage nach deiner Bestellung. Es kommt aktuell leider nicht nur im Lager sondern auch bei der Post zu verzögerten Auslieferungen. Du kannst aber versichert sein, dass du dein Futter erhältst - einfach nicht ganz so schnell wie gewohnt. Du hilfst damit dabei, unser ganzes Backoffice zu entlasten. Vielen Dank für dein Verständnis und deine Zusammenarbeit in dieser herausfordernden Zeit!</p>
						</div>
					                </div>
				</div> -->
	        </div>
	    </div>

    </div>
  </div>
</div>
</section>
<% include ../templates/shop-footer %>
