<% include ../templates/shop-shop %>
<% //console.log(getMessages()); %>
<section id="" class="section-lg topCommonPadding homePattern">
	<div class="container mb-5 ">
		<div class="row justify-content-lg-center justify-content-md-center justify-content-sm-center FirstLevelActive">
			<div class="col-lg-4 col-md-4 col-sm-6 col-6">
	            <div class="single-food-category cate-padding-1 text-center FirstLeveHighlight">
	                <div class="single-food-hover open">
	                    <a class="hundToggle" href="javascript:;">
							<img src="/images/category/hund.svg" alt="">
						</a>
	                </div>
	                <div class="single-food-content">
	                    <h3>Hund</h3>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
	            <div class="single-food-category cate-padding-1 text-center FirstLeveHighlight1">
	                <div class="single-food-hover open">
	                    <a class="hundToggle" href="javascript:;"><img src="/images/category/katzen.svg" alt=""></a>
	                </div>
	                <div class="single-food-content">
	                    <h3>Katze</h3>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
	<div class="container homeStepOne" style="opacity: 0; height: 0">
		<div class="homeStepPadding">
		    <div class="row justify-content-lg-center SecondLevelActive">
		        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
		            <div class="single-food-category cate-padding-1 text-center SecondLeveHighlight">
		                <div class="single-food-hover open">
		                    <a class="futterToggle" href="javascript:;"><img src="/images/category/dog-food.svg" alt=""></a>
		                </div>
		                <div class="single-food-content">
		                    <h3>Futter</h3>
		                </div>
		            </div>
		        </div>
		        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
		            <div class="single-food-category cate-padding-1 text-center SecondLeveHighlight1">
		                <div class="single-food-hover open">
		                     <a class="futterToggle" href="javascript:;"><img src="/images/category/leash.svg" alt=""></a>
		                </div>
		                <div class="single-food-content">
		                    <h3>Zubehör</h3>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</div>
	<div class="container homeStepThree homeStepPadding" style="opacity: 0; height: 0">
	    <div class="row">
	        <div class="col-lg-12 col-md-12 ">
	            <div class="SubsubCatList hundeList">
	            	<ul>
	            		<li><a href="/categories/26">Trocken</a></li>
	            		<li><a href="javascrpt:;">Nass</a></li>
	            		<li><a href="javascrpt:;">Snacks</a></li>
	            		<li><a href="javascrpt:;">Nahrungsergänzung</a></li>
	            	</ul>
	            </div>
	        </div>
		</div>
	</div>
</section>
<% include ../templates/shop-footer %>