<% include ../templates/shop-shop %>
<section id="" class="topCommonPadding homePattern">
	<!-- <a href="javascript:void(0);" id="paymentmethod">Payment Method</a> -->
	<div id="section01" class="homeSection homeStepOne">
		<div class="justify-content-lg-center justify-content-md-center justify-content-sm-center">
			<div class="home100vh">
				<div class="homeAdvert">
						<div class="advert-slider owl-carousel">
							<!-- <div class="item">
								<a href="/remi">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/Remi_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/Remi_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/Remi_440x220.jpg">
								</a>
							</div>
				            <div class="item">
								<a href="/brand/calibra/335">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/Calibra_1920x320.jpg?v=1">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/Calibra_768x210.jpg?v=1">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/Calibra_440x220.jpg?v=1">
								</a>
							</div>
							<div class="item">
								<a href="/remi">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/Remi_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/Remi_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/Remi_440x220.jpg">
								</a>
							</div>
							<div class="item">
								<a href="/brand/farmina/492">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/Farmina_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/Farmina_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/Farmina_440x220.jpg">
								</a>
							</div>
							<div class="item">
								<a href="/remi">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/Remi_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/Remi_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/Remi_440x220.jpg">
								</a>
							</div>
							<div class="item">
								<a href="/brand/lilys-kitchen/331">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/LK_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/LK_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/LK_440x220.jpg">
								</a>
							</div>-->
							<!--<div class="item">
								<a href="/category/Hunde/24">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/201226_S_Web_Banner_ultrawide_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/201226_S_Web_Banner_wide_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/201226_S_Web_Banner_440x220.jpg">
								</a>
							</div>-->
							<!--<div class="item">
								<a href="/category/hunde-trockenfutter/26">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/Oster_Banner_1.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/Oster_Banner_2.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/Oster_Banner_3.jpg">
								</a>
							</div>-->
							<div class="item">
								<a href="/remi">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/Remi_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/Remi_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/Remi_440x220.jpg">
								</a>
							</div>
							<!-- <div class="item">
								<a href="/category/hundefutter/25">
									<img class="d-none d-sm-none d-md-none d-lg-block d-xl-block" src="/images/cyber-monday_1920x320.jpg">
									<img class="d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/images/cyber-monday_768x210.jpg">
									<img class="d-block d-sm-none d-md-none d-lg-none d-xl-none" src="/images/cyber-monday_440x220.jpg">
								</a>
							</div> -->
						</div>
					</div>
				<div class="container homeVcenter">

					<div class="category-slider owl-carousel">
							  
						<div class="item">
							<div data-id="24">
								<div class="single-food-category cate-padding-1 text-center catItem">
									<div class="single-food-hover">
										<a data-id="24" class="pcatone" href="/hunde">
											<img class="img-fluid" src="images/hund-1.jpg" alt="Hunde" title="hunde">
										</a>
									</div>
									<div class="single-food-content">
										<h3 data-id="24" class="pcatone">
											<a href="/hunde">
												Hunde
											</a>
										</h3>		
									</div>		
								</div>
							</div>		
						</div>

						<div class="item">
							<div data-id="15">
								<div class="single-food-category cate-padding-1 text-center catItem">
									<div class="single-food-hover">
										<a data-id="15" class="pcatone" href="/katze">
											<img class="img-fluid" src="images/katzen-1.jpg" alt="Katze" title="katze">
										</a>
									</div>
									<div class="single-food-content">
										<h3 data-id="15" class="pcatone">
											<a href="/katze">
												Katze
											</a>
										</h3>		
									</div>		
								</div>
							</div>		
						</div>

						<div class="item">
							<div data-id="646">
								<div class="single-food-category cate-padding-1 text-center catItem">
									<div class="single-food-hover">
										<a data-id="646" class="pcatone" href="/category/andere/646">
											<img class="img-fluid" src="images/andere.jpg" alt="Andere" title="Andere">
										</a>
									</div>
									<div class="single-food-content">
										<h3 data-id="646" class="pcatone">
											<a href="/category/andere/646">
												Andere
											</a>
										</h3>		
									</div>		
								</div>
							</div>		
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<section class="container homeContent ab-content">
	<div class="row">
		<div class="col-lg-12">
			<h3>ZOOCIAL Shop</h3>
			<p>Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich.</p>

			<p>Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter <a href="/remi-produkte"><strong>«Remi Produkte»</strong></a> oder kontaktiert uns!</p>

			<p><a href="/category/hundefutter/25"><strong>Hundefutter</strong></a> & <a href="/category/hundezubehoer/207"><strong>Katzenfutter</strong></a> - Top-Marken & riesige Auswahl</p>

			<p>Unser hochwertiges Futter für deine Lieblinge richtet sich ganz nach den persönlichen Vorlieben von Vierbeinern jeder Grösse, Altersstufe und Rasse. Das Sortiment an Hunde- und Katzenfutter beinhaltet unter anderem ein grosses Angebot an Trockenfutter, Nassfutter, Nahrungsergänzungsmitteln oder leckere Snacks.</p>

			<p>Beliebte und renommierte Hersteller für Nass- und Trockenfutter:</p>

			<p><strong>Farmina:</strong> Premiumfutter mit der richtigen Rezeptur für die unterschiedlichen Anforderungen an Grösse, Alter und Bewegung des Tieres.</p>

			<p><strong>Hill’s:</strong> Ausgewogenes Futter nach innovativsten Ernährungsansätzen für die Bedürfnisse deines Haustieres.</p>

			<p><strong>Calibra:</strong> Nachhaltiges und ethisch Produziertes Produkt mit perfekter Schmackhaftigkeit und hohem Fleischanteil.</p>

			<p><strong>Lily’s Kitchen:</strong> Englands schnellst wachsende Natur-Futtermarke aus biologischem Anbau.</p>

			<p><a href="https://zoocialshop.ch/category/spielzeug/588"><strong>Hundespielzeug</strong></a>, <a href="https://zoocialshop.ch/category/komfortables-liegen/601"><strong>Hundebetten</strong></a> & <a href="https://zoocialshop.ch/category/katzenzubehoer/231"><strong>Katzenzubehör</strong></a> im Tierparadies</p>
			
			<p>Auch in Sachen Hundezubehör und Katzenzubehör bleiben bei deinem Vierbeiner keine Wünsche offen. Beschenke deinen Vierbeiner mit einem gemütlichen Bett, einem Plüschspielzeug, ein Lernspielzeug oder ein Apportierspielzeug zur artgerechten Beschäftigung und zum spassigen Zeitvertreib. Du findest im ZOOCIAL Shop noch viele weitere Tierbedarfsprodukte.</p>

			<!-- <p><a href="/category/katzenfutter/17"><strong>Katzenfutter</strong></a> & <a href="/category/katzenzubehoer/231"><strong> Katzenbedarf</strong></a> – Exklusives und Nützliches </p>
			<p>Auf ZOOCIAL Shop finden Katzen und Katzenbesitzer alles für einen gut sortierten Haushalt. Freue dich auf ein buntes Portfolio an Ergänzungsfutter für Katzen, Katzenzubehör und Katzenspielzeug. Überrasche dein schnurrendes Haustier mit Spieltunnel, Federwedel oder einem smarten Snackspender. Aber auch Katzentrockenfutter und Nassfutter in Spitzenqualität zum überaus fairen Preis sind vorhanden. Perfekt abgestimmt auf physische Besonderheiten, Alter und individuelle Bedürfnisse von Wohnungskatzen und Freigängern schlemmt Ihr Stubentiger bestes Futter mit erlesenen Zutaten und wertvollen Nährstoffen. Katzennahrung trocken und nass:</p>

			<p>Alleinfuttermittel für alle Rassen</p>
			<p><strong>Farmina:</strong> Premiumfutter mit der richtigen Rezeptur für die unterschiedlichen Anforderungen an Grösse, Alter und Bewegung des Tieres.</p>
			<p><strong>Hill’s:</strong> Ausgewogenes Futter nach innovativsten Ernährungsansätzen für die Bedürfnisse deines Haustieres.</p>
			<p><strong>Calibra:</strong> nachhaltiges und ethisch Produziertes Produkt mit perfekter Schmackhaftigkeit und hohem Fleischanteil.</p>
			<p><strong>Lily’s Kitchen:</strong> Englands schnellst wachsende Natur-Futtermarke aus biologischem Anbau.</p> -->

			<h4 class="mb-3">Willkommen bei <a href="http://zoocial.ch/" target="_blank"><strong>ZOOCIAL!</strong></a></h4>
 			<p>Dürfen wir uns vorstellen? Wir sind dein Partner in allen Fragen rund um die Tierwelt – und Nachhaltigkeit. Denn besonders dies ist uns wichtig zu betonen: wir stehen für den ökologischen Einsatz von Tierprodukten, langwährende Zusammenarbeit, Reduktion der Vernichtung von Produkten und einer Plattform, die uns und euch näherbringt.</p>
			
			<h4 class="mb-3">Was tun wir?</h4>
			<p>Bei <a href="http://zoocial.ch/" target="_blank"><strong>ZOOCIAL</strong></a> setzen wir uns für Tiere und ihre Halter ein – also euch! Dabei ist uns besonders wichtig, dass wir euch eine Bühne bieten, in der ihr zusammenfindet, euch kennen lernt und euch austauschen könnt. Ob Haus- oder Nutztiere, Züchter, Tierärzte oder Tierhalter, wir bringen euch zusammen. Eure Bewertungen, Likes und Kommentare machen uns erst zu etwas Besonderem.</p>
			
			<h4 class="mb-3">Was macht <a href="http://zoocial.ch/" target="_blank"><strong>ZOOCIAL</strong></a> noch?</h4>
			<p>Wir sind eure Anlaufstelle bei allen Fragen rund um eure liebsten Tierfreunde. Ihr sucht das beste Futter? Hier! Ihr wollt Gleichgesinnte kennenlernen? Hier! Ihr sucht die beste Praxis in eurer Region? Auch hier. Bei <a href="http://zoocial.ch/" target="_blank"><strong>ZOOCIAL</strong></a> vereinen wir Wissen, Austausch und einen Marktplatz, bei dem ihr Waren kaufen, verkaufen, tauschen oder verschenken könnt. Die grosse Community macht uns stark – und schnell. Ihr habt dringende Fragen in einer tierischen Angelegenheit? Eure Mit-User stehen euch mit Rat und Tat zur Seite. Und auch in schweren Zeiten begleiten wir euch und helfen, verlorene oder entlaufene Tiere wieder zu finden oder den Halter eines gefundenen Tieres zu suchen.</p>

			<h4 class="mb-3">Wozu <a href="http://zoocial.ch/" target="_blank"><strong>ZOOCIAL</strong></a> </h4>
			<p>Weil wir die Welt ein Stückchen besser machen. Wir fördern Nachhaltigkeit, in dem wir nachhaltige Beziehungen zu uns und unter euch knüpfen und pflegen. Besser gesagt: zusammenbringen was zusammengehört. Unser Herz hängt an Tieren und an der Umwelt - für diese suchen wir Projekte und Organisationen, die wir und ihr tatkräftig oder finanziell unterstützen können. Unter «FAQ Spenden» seht ihr auch, an wen wir unsere Beteiligung von 10% unserer Gewinne spenden: in die Zukunft der Tierwelt, der Mitmenschen und der Umwelt.</p>

		</div>
	</div>
</section>

<% include ../templates/shop-footer %>