<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner-bg ">
    <div class="container">
        <div class="inner-page-header-content">
          <h1>Impressum</h1>
          <p>ZOOCIAL – die Schweizer Plattform für Nachhaltigkeit in der Tierwelt</p>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 ab-content footer_contents">
			
			<p>ZOOCIAL<br>
	            Vertreten durch Kerstin Balmer<br>
	            4beeees GmbH<br>
	            Bottmingerstrasse 50<br>
	            CH-4102 Binningen<br>
	            <a href="mailto:info@zoocial.ch">info@zoocial.ch</a><br>
	            Hreg-Nr. CHE-430.592.530
	        </p>

			<p class="orangeTxt">Achtung: Bitte beachte, dass allfällige Retouren/Warenrücksendungen NICHT an diese Adresse zugestellt werden sollen. Die Rücksendeadresse ist auf dem Retourenschein ersichtlich. </p>

			<h4>Copyright</h4>
			<p>Das Copyright für sämtliche Inhalte dieser Website liegt bei ZOOCIAL, 4beeees GmbH sowie bei den Herstellern und Lieferanten der angebotenen Artikel. Bilder: Bigstockphoto.com / ZOOCIAL, 4beeees GmbH</p>

			<h4>Disclaimer</h4>
			<p>Alle Texte und Links wurden sorgfältig geprüft und werden laufend aktualisiert. Wir sind bemüht, richtige und vollständige Informationen auf dieser Website bereitzustellen, übernehmen aber keinerlei Verantwortung, Garantien oder Haftung dafür, dass die durch diese Website bereitgestellten Informationen, einschliesslich jeglicher Datenbankeinträge, richtig, vollständig oder aktuell sind. Wir behalten uns das Recht vor, jederzeit und ohne Vorankündigung die Informationen auf dieser Website zu ändern und verpflichten uns auch nicht, die enthaltenen Informationen zu aktualisieren. Alle Links zu externen Anbietern wurden zum Zeitpunkt ihrer Aufnahme auf ihre Richtigkeit überprüft. Dennoch haften wir nicht für Inhalte und Verfügbarkeit von Websites, die mittels Hyperlinks zu erreichen sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die durch die ungeprüfte Nutzung von Inhalten verknüpfter Seiten entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde. Dabei ist es gleichgültig, ob der Schaden direkter, indirekter oder finanzieller Natur ist oder ein sonstiger Schaden vorliegt, der sich aus Datenverlust, Nutzungsausfall oder anderen Gründen aller Art ergeben könnte. </p>

			
		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>