<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-12 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="/">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Lieferung</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-auto ab-content maxContentHeight">
			
			<h4 class="mb-3">Lieferung</h4>
			<p>Wir gewährleisten nicht nur die Qualität unserer Produkte und Angebote, sondern setzen auch beim Versand auf Schweizer Unternehmen wie die Schweizerische Post, über die wir etwa 90% unserer Waren versenden können. Einzelfälle werden auch durch DHL, DPD oder LeClerc versandt.</p>

			<p>Deine Bestellungen wickeln wir mit höchster Priorität ab. Bestellungen, die uns werktags bis 10:00 Uhr erreichen, werden noch am selben Tag per A-Post verarbeitet. </p>

			<p>Die Auslieferung erfolgt in der Regel innerhalb von 1-2 Werktagen nach Zahlungseingang (siehe Zahlungsarten). </p>

			<p>Allfällige Lieferverzögerungen sind vorbehalten und werden dir natürlich so rasch als möglich mitgeteilt. ZOOCIAL übernimmt jedoch keine Haftung für Transportschäden.</p>

			<p>Wir liefern ausschliesslich in die Schweiz/Liechtenstein – Auslandlieferungen sind leider nicht möglich.</p>

			<p>Du bist voraussichtlich bei der Zustellung nicht zu Hause oder das Paket wurde wieder mitgenommen?</p>
			<ul class="other-questions">
			<li>Du kannst dich von der Post über eintreffende Sendungen informieren lassen und den Empfang des Paketes beeinflussen. Beispielsweise kannst du die Deponierung des Paketes erlauben oder die Zustellung an einen Nachbarn deiner Wahl. Kann die Sendung nicht ordentlich zugestellt werden, hinterlegt die Post eine Abholungseinladung. Du kannst das Paket an der Poststelle persönlich abholen oder telefonisch eine zweite Zustellung (kostenlos) anfordern. Weitere Informationen erhältst du in deiner Poststelle oder auf der Webseite der <a href="https://www.post.ch/de/privat/themen-a-z/sendung-empfangen/praktisches-fuer-empfaenger" target="_blank">Post</a>.</li>

			<li>Bei DPD kannst du online einen neuen Zustellungstermin vereinbaren. Weitere Informationen finden Sie auf der Website von <a href="https://www.dpd.com/ch/home/pickup_shops/paketempfang" target="_blank">DPD</a>.</li>
			</ul>

			<p>Tipp: Du kannst in deinem Kundenkonto eine von der Rechnungsadresse abweichende Lieferadresse eingeben und dir so das Paket z.B. an den Arbeitsplatz liefern lassen. Hauptsache, unser Paket findet zu dir!</p>

		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>
