<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-12 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Rückgabe von Artikeln</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-auto ab-content">
			
			<h4 class="mb-3">Versandkosten</h4>

			<p>Ab einem Bestellwert von CHF 50.- wird Ihre Bestellung  versandkostenfrei an die von Ihnen gewünschte Adresse in der Schweiz geliefert.</p>

			<p>Liegt der Bestellwert unter CHF 50.- erheben wir eine Pauschale für Porto und Verpackung von CHF 6.90 pro Bestellung, unabhängig von der Anzahl der Pakete oder Grösse und Gewicht der Sendung.</p>

			<p>Ausgewählte Artikel versenden wir Ihnen auch bei einem Bestellwert von unter CHF 50.- für nur Fr. 3.60 oder sogar versandkostenfrei.</p>

			<p>Sollte aus technischen oder logistischen Gründen ein Versand in mehreren Etappen erfolgen, berechnen wir die Versandkostenbeteiligung nur einmal.</p>

			<h4 class="mb-4">Weitere häufig gestellte Fragen</h4>

			<ul class="other-questions">
				<li>Sie haben Ihr Passwort vergessen?</li>
				<li>Probleme beim Anmelden</li>
				<li>Gutscheine / Rabatte</li>
				<li>Lieferung</li>
				<li>Versandkosten</li>
				<li>Probleme während der Bestellung, Zahlung etc.</li>
				<li>Preise</li>
				<li>Bestellung von Diätfutter</li>
				<li>Retouren / Warenrücksendung</li>
				<li>Futter-Abo</li>
			</ul>
		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>
