<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-12 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="/">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Versandkosten</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-auto ab-content maxContentHeight">
			<h4 class="mb-3">Versandkosten</h4>
			<p>Ab einem Bestellwert von CHF 100.- liefern wir deine Bestellung versandkostenfrei an die von dir gewünschte Adresse in der Schweiz und Liechtenstein. </p>

			<p>Liegt der Bestellwert unter CHF 100.- erheben wir eine Pauschale für Porto und Verpackung von CHF 7.50 pro Bestellung, unabhängig von der Anzahl der Pakete oder Grösse und Gewicht der Sendung.</p>

			<p>Beinhaltet deine Bestellung mindestens ein «Remi» Produkt wird dir das Porto geschenkt.</p>

			<p>Sollte aus technischen oder logistischen Gründen ein Versand in mehreren Etappen erfolgen, berechnen wir die Versandkostenbeteiligung natürlich nur einmal.</p>

		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>