<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-12 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="/">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Zahlungsarten</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-auto ab-content maxContentHeight">

            <h4 class="mb-3">Zahlungarten</h4>
            
			<p>Deine Sicherheit ist uns wichtig! Deswegen verschlüsseln wir deinen elektronischen Zahlungsverkehr mit einem SSL-Protokoll und garantieren dir damit bestmöglichen Schutz deiner Daten. </p>
            <p>Wir bieten dir folgende Zahlungsmöglichkeiten: </p>
            <ul class="other-questions">
                <li>Kreditkarte (Mastercard & Visa)</li>
                <li> PostFinance Card</li>
                <li>PostFinance E-Finance</li>
                <li>TWINT</li>
            </ul>
            <p>Für all diese Zahlungsarten ist die Gebühr von 2.9% im Endpreis inkludiert.</p>

		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>
