<div class="sortSection">
  <form id="productfilter" action="/productupdate" method="get" name="productfilter">
    <div class="form-row">
       <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Lebensphase <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Welpe & Junior</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Erwachsen</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Senior</label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen </button>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Grösse <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">
                          X-Small (bis 4kg)
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">
                          Small (bis 10kg)
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">
                          Medium (11 - 25kg)
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">
                          Large (26 - 45kg)
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">
                          X-Large (ab 46kg)
                        </label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen</button>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Rasse <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                  <input type="text" class="form-control" placeholder="suche">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">Amerikanischer Cocker Spaniel</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">Beagle</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">Beauceron</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">Belgischer Schäferhund</label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen</button>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Bedürfnisse <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                  <input type="text" class="form-control" placeholder="suche">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                        <label class="form-check-label" for="exampleCheck4">Anspruchsvoller/wählerischer Hund</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                        <label class="form-check-label" for="exampleCheck4">Empfindliche Haut</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                        <label class="form-check-label" for="exampleCheck4">Empfindliche Verdauung</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                        <label class="form-check-label" for="exampleCheck4">Erhöhte Aktivität</label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen</button>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Geschmacksrichtung  <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                  <input type="text" class="form-control" placeholder="suche">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                        <label class="form-check-label" for="exampleCheck6">Geflügel</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                        <label class="form-check-label" for="exampleCheck6">Huhn</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                        <label class="form-check-label" for="exampleCheck6">Strauss</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                        <label class="form-check-label" for="exampleCheck6">Rind</label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen</button>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Krankheit <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                <input type="text" class="form-control" placeholder="suche">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                        <label class="form-check-label" for="exampleCheck7">Diabetes</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                        <label class="form-check-label" for="exampleCheck7">Erholung</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                        <label class="form-check-label" for="exampleCheck7">Futtermittelallergie</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                        <label class="form-check-label" for="exampleCheck7">Gehirnalterung</label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen</button>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Spezialeigenschaft <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                <input type="text" class="form-control" placeholder="suche">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Geflügel</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Huhn</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Strauss</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Rind</label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen</button>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="block-content Filter-toggle-content">
              <div class="FilterToggle">
                  <label class="amshopby_label">Marke <i class="fa fa-angle-down"></i></label>
                  <span class="special_border"></span>
              </div>
              <div id="attr_lebensphase" class="filterToggleOpen" style="display: none;">
                <input type="text" class="form-control" placeholder="suche">
                  <ul>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Bellfor</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Beneful</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">bosch</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Calibra Premium</label>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="">Schliessen</button>
              </div>
          </div>
      </div>
    </div>
  </form>
  <div class="form-row mt-2">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="form-row">
      <div class="col-lg-4 col-md-5 col-sm-6 col-5 my-auto">
        <h6 class="sortierenTitle"><span>Sortieren nach: </span></h6>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-7">
        <div class="DropTriangle sortieren1 select-arrow sortierenTitle">
          <select name="s" class="azflt">
            <option value="date-desc" selected="selected">Absteigende Reihenfolge</option>
            <option value="date-asc">Aufsteigende Reihenfolge</option>
            <option value="price-desc">Preis absteigend</option>
            <option value="price-asc">Preis niedrig bis hoch</option>
            <option value="popularity">Popularität</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
</div>