<div class="card" id="opc-payment">
	<div class="card-header">
	   <h5 class="mb-0">
		  <a class="btn-link">
		  	<span>5</span>Zahlungsart
		  </a>
	   </h5>
	</div>
   <div class="card-body" style="display: none;">
	 <form class="pay-form" name="payment_form" id="payment_form">
		<div class="row">
		   <div class="col-lg-12">
			   <div class="form-group">
				   <div class="radio">
					  	<input id="Kreditkarte"  class="adresse_versenden" type="radio" name="payment_type" value="VISA" checked>
					  	<label for="Kreditkarte"><strong>Kreditkarte</strong><br>Sie werden am Ende Ihres Einkaufs auf die Bezahlseite von Postfinance-Checkout Services weitergeleitet.<br>
						<img style="border:1px solid #f1f1f1; margin-top: 10px" src="/images/master_card.jpg" alt="">
						<img style="border:1px solid #f1f1f1; margin-top: 10px" src="/images/visa_card.jpg" alt=""></label>
				   </div>
				   <div class="radio">
					  	<input id="post_e_fin"  class="adresse_versenden" type="radio" name="payment_type" value="PostFinance E-Finance">
					  	<label for="post_e_fin">PostFinance E-Finance<br>
						<img style="border:1px solid #f1f1f1; margin-top: 10px" src="/images/efinance_card.jpg" alt=""></label>
				   </div>
				   <div class="radio">
					  	<input id="postFin_card"  class="adresse_versenden" type="radio" name="payment_type" value="PostFinance Card">
					  	<label for="postFin_card">PostFinance Card<br>
						<img style="border:1px solid #f1f1f1; margin-top: 10px" src="/images/post_card.jpg" alt=""></label>
				   </div>
				   <div class="radio">
					  	<input id="TWINT"  class="adresse_versenden" type="radio" name="payment_type" value="TWINT">
					  	<label for="TWINT">TWINT<br>
						<img style="border:1px solid #f1f1f1; margin-top: 10px" src="/images/twin_card.jpg" alt=""></label>
				   </div>
			   </div>
		   </div>
		   <div class="col-lg-12">
		   		<div class="form-group">
				  <p><span style="margin-right:5px"><i class="fa fa-info-circle" aria-hidden="true"></i> </span> Die Zahlungsgebühr von 2.9% ist im Verkaufspreis enthalten.</p>
			   </div>
		   </div>
		 </div>
	 </form>
	 <div class="row">
		<div class="col-md-12 mt-3">
			    <!-- <button id="" class="btn btn-primary btn-md ">Zurück</button>
				  <button id="" class="btn btn-primary pull-right btn-md ">weiter</button> -->
				<a href="javascript:void(0);" id="backstep4" class="btn btn-primary pull-left btn-md">zurück</a>
				<a href="javascript:void(0);" id="gostep6" class="btn btn-primary pull-right btn-md">weiter</a>
		</div>
	 </div>
   </div>
 </div>