<div class="card" id="opc-login">
	<div class="card-header">
	   <h5 class="mb-0">
		  <a class="btn-link">
		  <span>1</span>WIE MÖCHTEST DU BESTELLEN?
		  </a>
	   </h5>
	</div>
   <div class="card-body">
	   <div class="row">
		 <div class="col-md-4">
				 <div class="check_step_col">
					<div class="check_step_col_inner">
					  <div class="check_step_col__title">REGISTRIERUNG</div>
					  <div class="check_step_col__desc">
						  Die Registrierung deines eigenen Kundenkontos bietet dir folgende Vorteile:
					  </div>
					  <div class="check_step_col_list">
						  <ul>
							  <li>
							  <i class="fa fa-check" aria-hidden="true"></i>
							  <span>Zoocial Community</span>
							  </li>
							  <li>
							  <i class="fa fa-check" aria-hidden="true"></i>
							  <span>einfaches online bestellen</span>
							  </li>
							  <li>
							  <i class="fa fa-check" aria-hidden="true"></i>
							  <span>Verwaltung deiner Bestellungen</span>
							  </li>
						  </ul>
					  </div>
					  <div class="buttons-set">
						  <a href="javascript:;" class="btn btn-secondary but oneregister" id="">weiter zur Registrierung</a>
					  </div>
				  </div>
			  </div>
		 </div>
		 <div class="col-md-4">
				<div class="check_step_col">
				  <div class="check_step_col_inner">
					  <div class="check_step_col__title">OHNE REGISTRIERUNG</div>
					  <div class="check_step_col__desc">
						  Bestelle einfach und schnell als Gast ohne ein Kundenkonto zu eröffnen. 
					  </div>
					  <div class="buttons-set">
						  <a class="btn btn-secondary but geustTrigger">weiter ohne Registrierung</a>
					  </div>
				  </div>
			  </div>
		 </div>
		 <div class="col-md-4">
				 <div class="check_step_col">
				  <div class="check_step_col_inner">
						<form id="loginform" name="login-form" action="#" method="post">
							<div class="check_step_col__title">KUNDEN - LOGIN</div>
							<div class="form-group">
								<input type="text" title="E-Mail" data-valcode="!b" name="username" value="" class="form-control" placeholder="E-Mail">
							</div>
							<div class="form-group">
								<div class="form-icon-base">
									<input id="pass6" title="Password" data-valcode="!b" type="password" name="password" value="" class="form-control" placeholder="Passwort">
									<span class="form-icon"><img id="pas_visible6" src="/images/svg/eye2.svg" id=""></span>
								</div>
							</div>
							<p><a href="/passwortvergessen">Passwort vergessen?</a></p>
							<div class="buttons-set" style="padding-top:10px!important;">
									<!-- <a href="javascript:;" class="btn btn-secondary but">Anmelden</a> -->
									<input type="hidden" name="redirect" value="/checkout" />

									<!-- <input style="width: 100%" type="submit" id="authsubmit" name="submit" value="anmelden" class="btn btn-secondary"> -->

									<button style="width: 100%" type="submit" id="authsubmit" name="submit" value="anmelden" class="btn btn-secondary">
										<span class="warenkorb_refresh btnldr"><img src="/images/loader-white.gif"></span>anmelden
									</button>

							</div>
					  </form>
				  </div>
			  </div>
		 </div>
	 </div>
   </div>
 </div>