<div id="RemiPopup" class="slide-form">
  <div class="form-header">
      <h4>«Remi» Produkte </h4>
      <div id="remiPopupClose" class="slideFormClose">&times;</div>
  </div>
  <div class="form-body remiPopupContent">
    <div class="col-lg-12 col-md-12 my-auto ab-content">
       <p>Foodwaste ist in unserer Zeit ein zentrales Thema. Immer wichtiger wird die Erhaltung unserer Umwelt und die Schonung dieser. «ZOOCIAL» setzt sich für Nachhaltigkeit ein und möchte gerade in Bezug auf «Foodwaste» einen aktiven Part übernehmen. Doch nur gemeinsam können wir das grosse Thema «Foodwaste» bekämpfen. </p>

      <p>Wie erwähnt, steht Nachhaltigkeit, wie bei allen Projekten von 4beeees GmbH, im Zentrum. Wir wollen gemeinsam das Ziel erreichen, dass wir effizient unsere Ressourcen einsetzen. Doch was bedeutet das genau? </p>

      <ul class="other-questions">
        <li>Wir bieten gezielt Produkte an, welche qualitativ auf unsere Kunden und Tiere abgestimmt sind</li>
        <li>Wir spenden 10% aller Verkäufe über unseren Onlineshops an wohltätige & nachhaltige Organisationen</li>
        <li>Wir verkaufen Tierfutter mit kurzen Ablaufdatum, so dass ihr von preiswerten Angeboten profitieren könnt und somit helfen könnt, dass diese Ware nicht vernichtet wird</li>
      </ul>

      <p>Auch wirtschaftlich ist der Ausdruck «waste» ein wichtiger Bestandteil. Jährlich werden immer mehr Verkaufsgüter aus den Bereichen Esswaren, Medikamenten, Haushaltsgeräten oder Maschinen entsorgt. Dies aufgrund von kurzen Verfallsdaten, Ablösung durch modernere Geräte, Rebranding und so weiter. Wir lernen zu ersetzen statt zu reparieren, was die Landesökonomie immer mehr negativ beeinflusst. Auch auf jeden von uns hat das einen Effekt, denn die Schere zum Mittelstand wird immer geringer – was am Ende jeder von uns in seiner eigenen Brieftasche spürt. </p>

      <p><img class="img-fluid remiImg" src="/images/remi.jpg"> Wir suchten eine Lösung, die für alle Beteiligten stimmt. Unsere Vision haben wir als Geschäftsentwicklung eingegliedert und setzen diese so um: Wir bieten Produktions- und Handelsbetrieben die Möglichkeit, ihre Produktepalette im öffentlichen Markt anzubieten.  Zusätzlich haben sie die Möglichkeit, Produkte die sich aufgrund von verschiedenen Merkmalen kaum noch verkaufen lassen, anzubieten. Merkmale sind beispielsweise:</p>

      <ul class="other-questions">
        <li>Kurzes Ablaufdatum von Produkten</li>
        <li>Ablösung von Geräten und Apparaturen oder ganzen Technologien </li>
        <li>Das Aussehen entspricht nicht der Norm (bspw. deformierte Dosen, etc.) </li>
      </ul>
      <p>Hier kommen wir ins Spiel und kümmern uns um genau diese Waren und Produkte (Remi Produkte). Wir verkaufen diese zu sehr preiswerten Konditionen und nehmen den Produzenten oder Betreibern die Risiken wie Abschreibungen, Entsorgung oder die dadurch entstehenden Kosten ab. Die Produkte bieten wir unseren Kunden zu sensationellen Preisen an. So haben wir einen Marktplatz geschaffen, bei dem vom Produzenten bis zu unseren Endkunden alle profitieren und wir «Foodwaste» nachhaltig verhindern können.</p>

    </div>

  </div>
</div>
