  <div class="card">
      <div class="card-body">
        <a class="product-link" href="/products/18"></a>
        <div class="product-content">
          <a class="btn btn-sm btn-gradient"
            href="/products/18">
            <i class="fa fa-link"></i>
          </a>
          <a class="btn btn-sm btn-gradient fav-product addfavourite"
            href="javascript:void(0);" product-id="18">
            <i class="fa fa-heart"></i>
          </a>

          <a class="btn btn-sm btn-gradient addtocart"
            href="javascript:void(0);" product-id="18"
            product-price="20" 
            product-qty="1" 
            product-varient="12">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
        <img class="img-fluid" src="/images/foods/food-4.jpg" alt="">
        <div class="mprice shop-price-box">
          <span>CHF 20.00 <i
              class="strike">CHF 30.00</i></span>
        </div>
        <span class="product-new-label inner-gradient-bg">Neu</span>
      </div>
    <div class="card-footer shop-footer">
      <h3 class="title"><a href="/">lorem</a>
      </h3>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-8">
          <p>5 kg</p>
        </div>
        <div class="col-lg-6 col-md-6 col-4 text-right">
          <p>lorem</p>
        </div>
      </div>
    </div>
  </div>
